

h6{
    font-family: "Epilogue", sans-serif;
    width: 532px;
    height: 188px;
    top: 542px;
    left: 453px;
    gap: 0px;
    opacity: 0px;
    font-family: Epilogue;
    font-size: 20px;
    font-weight: 400;
    line-height: 32.1px;
    letter-spacing: 0.155em;
    text-align: left;
    margin: 74px 57px 2px 87px;
}

